<div class="card">
    <p-toast></p-toast>
    <p-toolbar class="mb-4 gap-2">
        <div class="flex justify-content-start align-items-center w-full">
            <!-- Dropdowns for selecting year, course, student, and subject -->
            <p-dropdown 
                [options]="schoolYears"  
                [(ngModel)]="selectedSchoolYear" 
                placeholder="Selecciona el ciclo escolar" 
                [group]="false">
                <ng-template let-option pTemplate="item">
                    <div class="flex align-items-center">
                        <span>{{ option.period }}</span>
                    </div>
                </ng-template>

                <ng-template pTemplate="selectedItem" let-selected>
                    <span>{{ selected.period }}</span>
                </ng-template>
            </p-dropdown>

            <div style="margin-left: 20px;" *ngIf="selectedSchoolYear">
                <p-dropdown 
                    [options]="groupedCourses"  
                    [(ngModel)]="selectedCourse" 
                    placeholder="Selecciona un curso" 
                    (onChange)="filterStudents()" 
                    [group]="true">
                    <ng-template let-group pTemplate="group">
                        <div class="flex align-items-center">
                            <span>{{ group.course }}</span>
                        </div>
                    </ng-template>
                
                    <ng-template let-option pTemplate="item">
                        <div class="ml-4">
                            <span>{{ option.section }}</span>
                        </div>
                    </ng-template>
                
                    <ng-template pTemplate="selectedItem" let-selected>
                        <span>{{ selected.year }} - {{ selected.section }}</span>
                    </ng-template>
                </p-dropdown>
            </div>

            <div style="margin-left: 20px;" *ngIf="this.section && this.year">
                <p-dropdown 
                    [options]="allStudents"  
                    [(ngModel)]="selectedStuded" 
                    placeholder="Selecciona el alumno" 
                    (onChange)="getAllSubjects()"
                    [group]="false">
                    <ng-template let-student pTemplate="student">
                        <div class="flex align-items-center">
                            <span>{{ student.id }}</span>
                        </div>
                    </ng-template>

                    <ng-template let-option pTemplate="item">
                        <div class="flex align-items-center">
                            <span>{{ option.name }} {{ option.surname }}</span>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="selectedItem" let-selected>
                        <span>{{ selected.name }} {{ selected.surname }}</span>
                    </ng-template>
                </p-dropdown>
            </div>

            <div style="margin-left: 20px;" *ngIf="this.selectedStuded">
                <p-dropdown 
                    [options]="subjects"  
                    [(ngModel)]="subjectSelected" 
                    placeholder="Selecciona la materia" 
                    [group]="false">
                    <ng-template let-subject pTemplate="subject">
                        <div class="flex align-items-center">
                            <span>{{ subject.name }}</span>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="selectedItem" let-selected>
                        <span>{{ selected.name }}</span>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
    </p-toolbar>
</div>
<br><br>

<div class="flex justify-center" style="display: flex; gap: 20px; align-items: center;" *ngIf="subjectSelected">
    <!-- Actividad realizada -->
    <div class="flex flex-col gap-2">
        <label for="activity" style="margin-top: 11px;">Actividad realizada: </label>
        <input 
            style="width: 54vh;" 
            pInputText id="activity" 
            aria-describedby="activity-help" 
            [(ngModel)]="activity" 
        />
    </div>

    <!-- Nota -->
    <div class="flex flex-col gap-2">
        <label for="note" style="margin-top: 11px;">Nota: </label>
        <input 
            type="number"
            style="width: 14vh;" 
            pInputText id="note" 
            aria-describedby="note-help" 
            [(ngModel)]="note" 
        />
    </div>

        <!-- % de calificacion -->
    <div class="flex flex-col gap-2">
        <label for="gradePct" style="margin-top: 11px;">Valor en la Materia: </label>
        <input 
            type="number"
            style="width: 10vh;" 
            pInputText id="gradePct" 
            aria-describedby="gradePct-help" 
            [(ngModel)]="gradePct" 
        />
        <span style="margin-top: 11px;">%</span>
    </div>
</div> 

<!-- Botones Guardar y Borrar -->
<div class="flex justify-center" style="margin-top: 50px; float: inline-end;" *ngIf="subjectSelected">
    <!-- Botón Guardar -->
    <p-button 
        pRipple 
        severity="success" 
        label="Guardar" 
        icon="pi pi-save" 
        (click)="uploadGrade()" 
        class="mr-2" 
    />

    <!-- Botón Borrar -->
    <p-button 
        pRipple 
        severity="danger" 
        label="Borrar" 
        icon="pi pi-trash" 
        (click)="clearFields()" 
    />
</div>
