.login-background {
    background-image: url('/assets/img/mab/wallpaper-login.jpg');
    background-size: cover;
    background-position: center;
}

.card-login {
    width: 50%;
}

.card-glass {
    background: rgb(247 247 247 / 48%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.6px);
    border: 1px solid rgba(0, 86, 203, 0.25);
}
  