<div class="bg-light min-vh-100 d-flex flex-row align-items-center login-background">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8" class="card-login">
        <c-card-group>
          <c-card class="p-4 card-glass">
            <c-card-body>
              <form cForm>
                <h5>Ingresar al portal</h5>
                <p class="text-high-emphasis-dark">Ingresa con tu correo de escuela.</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="username" cFormControl placeholder="Username" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Password"
                    type="password"
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button (click)="redirectTo()" cButton class="px-4" color="primary">
                      Acceder
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6" style="text-align: end;">
                    <button cButton class="px-0" color="link">
                      ¿Olvidó Contraseña?
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
