<div class="card">
    <p-toast></p-toast>
    <p-toolbar class="mb-4 gap-2">
        <div class="flex justify-content-start align-items-center w-full">
            <p-button 
                pRipple 
                severity="success" 
                label="Empezar nuevo Ciclo Escolar" 
                icon="pi pi-plus" 
                class="ml-2 mr-2"       
                (click)="openNew()" />
        </div>
    </p-toolbar>

    <p-table
        #dt
        [value]="schoolYears"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['period']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="period"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Gestión de Ciclos Escolares</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input 
                        pInputText 
                        type="text" 
                        (input)="dt.filterGlobal($event.target.value, 'contains')" 
                        placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="period" style="min-width:15rem">
                    Ciclos Escolares anteriores <p-sortIcon field="period" />
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-schoolYear>
            <tr>                
                <td>
                    <div>
                        {{ schoolYear.period }}
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog 
        [(visible)]="newSchoolYearDialog" 
        [style]="{ width: '500px', height: '290px' }" 
        header="Periodo"
        [modal]="true" 
        styleClass="p-fluid"
        [contentStyle]="{ 'display': 'flex', 'justify-content': 'center' }">
        <ng-template pTemplate="content">
            <p-calendar style="margin-right: 20px;"
              [(ngModel)]="date1" 
              view="year" 
              dateFormat="yy" 
              (onFocus)="adjustDialogHeight(true)"
              (onClose)="adjustDialogHeight(false)"
              (onSelect)="updateMaxYear(date1)" />  
            
            <p-calendar 
              [(ngModel)]="date2" 
              view="year" 
              dateFormat="yy"
              (onFocus)="adjustDialogHeight(true)"
              (onClose)="adjustDialogHeight(false)" />  
          </ng-template>
        <ng-template pTemplate="footer">
            <p-button 
                pRipple 
                label="Cancelar" 
                icon="pi pi-times" 
                [text]="true" 
                (click)="hideDialog()" />
            <p-button 
                pRipple 
                label="Incluir ciclo" 
                icon="pi pi-check" 
                [text]="true" 
                (click)="saveSchoolYear()" />
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</div>
